<table cellspacing="0">
  <caption>Network:<%= @network.name %></caption>
	<thead></thead>
	  <tbody>
		<tr>
		  <th scope="row" class="name">Name</th>
		    <td><%=h @network.name %></td>		
		  <th scope="row" class="name">Last usable:</th>
		    <td><%=h @network.last_usable %></td>
		</tr>
		<tr>
		  <th scope="row" class="name">Network address</th>
		    <td><%=h @network.network_address %></td>
		  <th scope="row" class="name">Gateway</th>
		    <td><%=h @network.gateway %></td>
		</tr>
	  </col>
		<col>
		<tr>
		  <th scope="row" class="name">First usable</th>
		    <td><%=h @network.first_usable %>
		  <th scope="row" class="name">Netmask</th>
		    <td><%=h @network.netmask %></td></tr>
		<tr>
		  <th scope="row" class="name">Broadcast</th>
		    <td><%=h @network.broadcast %></td> 
		  <th scope="row" class="name">Next unused IP</th>
		    <td><%= @network.next_unused_ip %></td>
		</tr>
		</tbody>
		<tfoot>
		<tr><td></td></td><td></td><td></td><td>
		<%= link_to image_tag('/images/Edit.png', :alt => "Edit", :title => "Edit"), edit_network_path(@network) %>
		</tr></td>
		</tfoot>
	</table>

<%= render :partial => 'ips/ips' %>

	
	<div id ="menu">
	  <%= link_to image_tag('/images/plusbutton.png', :alt => "New Network", :title => "New Network"), new_network_path %>
	</div>




