<table cellspacing="0">
  <caption>Network:<%= @network.name %></caption>
  <%= @network.next_unused_ip %>??
		<tr><th scope="row" class="name">Name</th><td>  <%=h @network.name %></td></tr>
		<tr><th scope="row" class="name">Network address</th><td><%=h @network.network_address %></td></tr>
		<tr><th scope="row" class="name">First usable</th><td> <%=h @network.first_usable %></td></tr>
		<tr><th scope="row" class="name">Last usable:</th><td><%=h @network.last_usable %></td></tr>
		<tr><th scope="row" class="name">Gateway</th><td><%=h @network.gateway %></td></tr>
		<tr><th scope="row" class="name">Netmask</th><td><%=h @network.netmask %></td></tr>
		<tr><th scope="row" class="name">Broadcast</th><td><%=h @network.broadcast %></td></tr>
	</table>

<%= render :partial => 'ips/ips' %>
<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>


