<div class="table_shadow">
	<table cellspacing="0">
		<caption>Xen Host</caption>
		<tr><th scope="row" class="name">Name</th><td><%= @host.host %></td></tr>
		<tr><th scope="row" class="name">Machine</th><td><%= @host.machine %></td></tr>
		<tr><th scope="row" class="name">Total Memory</th><td><%= @host.total_memory %></td></tr>
		<tr><th scope="row" class="name">Free Memory</th><td><%= @host.free_memory %></td></tr>
	</table>
</div>
<br/>
<br/>
<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
