<table>
    <thead>
		<caption><%= @slice.name %> <%= @slice.first_ip %> <%= link_to image_tag('/images/Edit.png', :alt => "Edit Slice", :title => "Edit Slice"), edit_slice_config_file_path(@slice.name) %><br/></caption>
	</thead>
	<tbody>
		<tr><th class="name">status</th><td><span id="slice_controls_<%= @slice.name %>">
		<%= slice_control_buttons(@slice) %></span></td></tr>
		<tr><th class="name">memory</th><td><%= @slice.config_file.memory %></td></tr>
		<tr><th class="name">autostart?</th><td id="slice_toggle_autostart_<%= @slice.name %>"><%= slice_toggle_autostart(@slice) %></td></tr>
		<tr>
			<th class="name">Backups (<%= link_to 'create new backup', create_backup_slice_path(@slice.name), :method => :post %>)</th>
			<td>
				<ul id="backup_list">
				<% @slice.backups.each do |backup| %>
				<li><%= backup.version %></li>
				<% end %>
				</ul>
			</td>
		</tr>

    </tbody>
	   
</table>

