<table>
	<caption><%= @slice.name %> <%= link_to 'edit', edit_slice_config_path(@slice.name) %> <span id="slice_controls_<%= @slice.name %>"><%= slice_control_buttons(@slice) %></span></caption>
	<tr><th class="name">memory</th><td><%= @slice.config.memory %></td><tr>
	<tr><th class="name">autostart?</th><td><%= @slice.config.auto ? 'on' : 'off' %></td><tr>
		
	<%# @slice.config.vifs.each_with_index do |vif, index| %>
		<!--tr><th colspan="2" class="name">eth<%#= index %></th></tr>
		<tr><th class="name">name</th><td><%#= vif.vifname %></td>
		<tr><th class="name">bridge</th><td><%#= vif.bridge %></td>
		<tr><th class="name">ip</th><td><%#= vif.ip %></td>
		<tr><th class="name">mac</th><td><%#= vif.mac %></td-->
	<%# end %>
	</tr>
	<td>    
</table>
<%= link_to 'Edit', edit_slice_path(@slice) %> |
<%= link_to 'Back', slices_path %>
