<table>
  <caption>Mark IP as used</caption>
  <tr>
    <td>
      <% form_for(@ip) do |f| %>
      <%= f.error_messages %>
        <fieldset>
           <p>
		   <%= f.label :network %><br />
		   <%= fields_for :network do |network|
	       @networks = Network.find(:all, :order => "name").map {|u| ["#{u.name}: #{u.network_address}/#{u.netmask}" , u.id] }
	       f.select(:id, @networks)
	       end %> 
           </p>
  		   <p>
            <%= f.label :address %><br />
            <%= f.text_field :address %>
  		   </p>
  		   <p>
    	    <%= f.label :interface %><br />
    	    <%= f.text_field :interface %>
  		   </p>
  		   <p>
    	     <%= f.submit "Create" %>
  		   </p>
		</fieldset>
      <% end %>
    </td>
  </tr>
</table>