<p>
  <b>Network:</b>
  <%=h @ip.network.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @ip.address %>
</p>

<p>
  <b>Interface:</b>
  <%=h @ip.interface %>
</p>


<%= link_to 'Edit', edit_ip_path(@ip) %> |
<%= link_to 'Back', ips_path %>
